# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Temporary files
*.swp

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS files
*.sln
*.proj
*.pdb
GamsPlugins.code-workspace

# Folders
Binaries
Build
Intermediate
DerivedDataCache
out
bin
lib
stage
.vs
.vscode
Saved
.DS_Store
*.xcworkspace

# Makefiles
Makefile
